@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);

@import url(https://db.onlinewebfonts.com/c/49bf5d043a27b890a040cf393277e2b2?family=TT+Norms+Pro+Regular);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALES */
:root {
    --primary: rgb(63, 144, 75);
    --secondary: rgb(255, 148, 19);
    --tertiary: rgb(205, 224, 205);
    --quaternary: rgb(245, 209, 221);
    --quinary: rgba(255, 148, 19, 0.2);
    --white: #fefdfd;
    --black: #000000;
    --light-green: rgba(63, 144, 75, 0.456);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Feather Bold';
}

p {
    font-family: 'TT Norms Pro Regular';
}

a {
    text-decoration: none;
}

.feather-bold {
    font-family: 'Feather Bold';
}

.tt-norms-pro {
    font-family: 'TT Norms Pro Regular';
}

.bold {
    font-weight: bold;
}

.h1 {
    font-size: 3rem;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-tertiary {
    background-color: var(--tertiary);
}

.bg-quaternary {
    background-color: var(--quaternary);
}

/* HEADER */
.navbar {
    margin: 1em auto;
    margin-top: 2em !important;
    background-color: transparent !important;
    border-radius: 35px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    max-width: 89%;
}

.navbar li a {
    font-family: 'TT Norms Pro Regular';
}

.navbar-nav .nav-link.active {
    color: var(--secondary) !important;
}

.navbar-nav .nav-link.active:hover {
    color: var(--secondary) !important;
}

.logo-tigervet {
    max-width: 8rem;
    height: auto;
}

.logo-tigervet:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.nav-link {
    color: var(--primary) !important;
    font-size: 1.2rem !important;
}

.nav-link:hover {
    color: var(--secondary) !important;
}

.btn {
    border-radius: 20px;
}

.btn-tigrevet {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    font-size: 1.2rem;
    transition: 0.5s;
    margin-bottom: 1em;
}

.btn-tigrevet:hover {
    background-color: var(--quinary);
    border: solid 1px var(--secondary);
    color: var(--secondary);
}

@media (max-width: 1000px) {
    .navbar {
        max-width: 95%;
    }
}








/* PORTADA */
@media (max-width: 750px) {
    .portada h1 {
        font-size: 1.5rem;
    }

    .ocultar-en-movil {
        display: none;
    }
}

@media (max-width: 650px) {
    .portada {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}





/* CARDS SOBRE NOSOTROS */
.sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

@media (max-width: 976px) {
    .card-compromiso {
        width: 18rem !important;
        padding: 1.3em !important;
    }
}

@media (min-width : 1180px) {
    .card-nosotros {
        width: 30rem !important;
        height: 33rem !important;
    }

    .card-compromiso {
        width: 30rem !important;
        height: 33rem !important;
    }
}



/* NUESTRO SERVICIOS */
/* grid */
.servicios-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "top top top"
        "bottom bottom bottom";
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "cirugia cirugia clinica clinica";
    grid-area: top;
}

.cirugia {
    grid-area: cirugia;
}

.clinica {
    grid-area: clinica;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "castracion guarderia conocenos";
    grid-area: bottom;
}

.castracion {
    grid-area: castracion;
}

.guarderia {
    grid-area: guarderia;
}

.conocenos {
    grid-area: conocenos;
}

.btn-tigrevet-2 {
    background-color: var(--secondary);
    color: var(--white);
    border: none;
    font-size: 1.2rem;
    transition: 0.5s;
    margin-bottom: 1em;
}

.btn-tigrevet-2:hover {
    background-color: var(--light-green);
    border: solid 1px var(--primary);
    color: var(--white);
}

@media (max-width: 770px) {
    .servicios-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "top top"
            "bottom bottom";
    }

    .top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "cirugia clinica";
        grid-area: top;
    }

    .cirugia {
        grid-area: cirugia;
    }

    .clinica {
        grid-area: clinica;
    }

    .bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "castracion guarderia"
            "conocenos conocenos";
        grid-area: bottom;
    }

    .castracion {
        grid-area: castracion;
    }

    .guarderia {
        grid-area: guarderia;
    }

    .conocenos {
        grid-area: conocenos;
    }

}

@media (max-width: 690px) {
    .servicios-card-container {
        display: grid;
        grid-template-columns: 0.5fr;
        grid-template-rows: 0.8fr 1.1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-content: center;
        grid-template-areas:
            "top"
            "bottom";
    }

    .top {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "cirugia"
            "clinica";
        grid-area: top;
    }

    .cirugia {
        grid-area: cirugia;
        width: 25rem !important;
    }

    .clinica {
        grid-area: clinica;
        width: 25rem !important;
    }

    .bottom {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "castracion"
            "guarderia"
            "conocenos";
        grid-area: bottom;
    }

    .castracion {
        grid-area: castracion;
        width: 25rem !important;
    }

    .guarderia {
        grid-area: guarderia;
        width: 25rem !important;
    }

    .conocenos {
        grid-area: conocenos;
        width: 25rem !important;
    }
}


/* NUESTRO EQUIPO */
.card-equipo {
    border: none!important;
}
.profesionales-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em 1em;
    grid-auto-flow: row;
    justify-content: center;
    grid-template-areas:
        "vet-1 vet-2"
        "vet-3 vet-4";
}

.profesionales-container img {
    max-width: 10rem;
    height: auto;
}

.vet-1 {
    grid-area: vet-1;
}

.vet-2 {
    grid-area: vet-2;
}

.vet-3 {
    grid-area: vet-3;
}

.vet-4 {
    grid-area: vet-4;
}   

@media (max-width: 860px) {
    .titulo-profesionales {
        display: flex;
        flex-direction: column;
    }
    .profesionales-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 2em 1em;
        grid-auto-flow: row;
        justify-content: center;
        grid-template-areas:
            "vet-1"
            "vet-2"
            "vet-3"
            "vet-4";
    }
}


/* COMENTARIOS */
.perfil-comentarios  img {
    width: 3rem;
    height: auto;
    border-radius: 50%;
}




/* FUNACION SILVESTRE */
@media (max-width: 750px) {
    .fundacion-silvestre {
        display: flex;
        flex-direction: column;
    }
    .fundacion-silvestre img {
        width: 10rem!important;
        height: auto;
    }
}

@media (min-width: 1080px) {
    .fundacion-silvestre img {
        width: 15rem!important;
        height: auto;
    }
}






/* PAGINACONTACTO */
.contact-form {
    padding: 2rem;
    border-radius: 15px;
}

.form-control {
    border: 2px solid #f8d7da;
    border-radius: 10px;
    outline: none;
}

input, textarea {
    border-radius: 10px;
    outline: none;
    border: 2px solid var(--white)!important;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: var(--quaternary)!important;
}

.btn-contacto {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 0.6rem 1.2rem;
    width: 100%;
}

.btn-contacto:hover {
    background-color: #f8d7da;
    color: black;
    padding: 0.6rem 1.2rem;
    width: 100%;
    border: 2px solid black;
}

.img-contact-section img {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; 
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media (max-width: 767px) {
    .img-contact-section img {
        display: none;
    }
}





/* PAGINA SERVICIOS */
.card-nav {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card-nav:hover .card , 
.card-nav.active .card{
    background-color: var(--primary) !important;
    transform: scale(1.1);
    color: var(--white);
}

.card-nav:hover p,
.card-nav.active p {
    color: var(--white);
}
.card-servicios{
    border: none;
    padding: 15px;
    border-radius: 12px;
}

.card-servicios img {
    width: 5rem;
    height: 7rem;
}

.content-item {
    display: none;
    font-size: 1.1rem;
    color: var(--black);
}

.content-item.active {
    display: block;
}

/* PAGINA PREGUNTAS FRECUENTES */ 

/* Sección FAQ */
.faq-section .faq-item {
    margin-bottom: 1rem;
}

.faq-section .faq-question {
    background-color: transparent;
    border: none;
    color: var(--primary);
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
    padding: 1rem 0;
}

.faq-section .faq-answer {
    font-size: 1rem;
    color: var(--black);
    padding: 1rem;
    background-color: var(--tertiary);
    border-radius: 10px;
}

.faq-section .faq-question:hover {
    color: var(--secondary);
}

.faq-section .faq-item .collapse.show {
    margin-top: 10px;
}

